body,
html,
#root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
}

.main {
  min-width: 100vw;
  min-height: 100vh;
  padding: 5px;
  color: white;
}

.logo {
  width: 100%;
  object-fit: contain;
}

.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  pointer-events: none; /* Optional: ensures no interaction with video */
}

.overlay {
  z-index: 1;
  padding: 20px;
  text-align: center;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  z-index: 2;
  background: rgba(0, 0, 0, 0.3);
  font-size: 0.9rem;
}
